mixin heroform(action, method, data)
  form#Hero_Form(action=action method=method)
    label(for='name') 
      i Name:
    input#name(type='text' name='name' value=data.name)
    br
    label(for='race') 
      i Race:
    input#race(type='text' name='race' value=data.race)
    br
    label(for='date') 
      i Date:
    input#date(type='date' name='date' value=new Date(data.date).toISOString().slice(0,10))
    br
    button(id="Hero_Btn" type='submit') Save